@import './reset';
@import './variables';
@import './mixins';
@import './functions';

.form--desable {
  display: none;
}

.container {
  display: flex;
  justify-content: center;
  padding: px-to-rem(20);

  @media (max-width: $md) {
    flex-direction: column;
    padding: px-to-rem(20);
  }
}

.tab {
  display: flex;

  @media (min-width: $md) {
    align-items: flex-end;
    flex-direction: column;
    gap: px-to-rem(0.5);
  }

  &__btn {
    background-color: $white;
    border: px-to-rem(2) solid $orange;
    color: $orange;
    cursor: pointer;
    font-size: px-to-rem(18);
    font-weight: 500;
    padding: px-to-rem(20);
    text-transform: uppercase;
    transition: background-color 0.4s ease, width 0.4s ease;
    width: px-to-rem(120);

    @media (max-width: $md) {
      border-bottom: transparent;
    }

    @media (min-width: $md) {
      border-right: transparent;
    }

    &:hover {
      background-color: $orange;
      color: $white;
    }

    &.active {
      background-color: $orange;
      color: $white;
      width: px-to-rem(170);
    }
  }
}

.form {
  border: px-to-rem(4) solid $orange;
  padding: px-to-rem(20);

  @media (min-width: $xs) {
    min-width: px-to-rem(500);
  }

  &__title {
    color: $orange;
    font-size: px-to-rem(25);
    font-weight: 500;
    margin-bottom: px-to-rem(10);
    text-align: center;
    text-transform: uppercase;
  }

  &__input {
    border: none;
    border-bottom: solid px-to-rem(2) $orange;
    color: $orange;
    margin: px-to-rem(8) 0;
    outline: none;
    padding: px-to-rem(6) px-to-rem(12);
    transition: background-color 0.3s ease;
    width: 100%;

    &:focus {
      background-color: $orange-rgba;
    }

    &::placeholder {
      color: $orange;
      font-family: $primary-font;
    }

    &.textarea {
      border: solid px-to-rem(2) $orange;
      margin: px-to-rem(10) 0;
      outline: none;
      padding: px-to-rem(6) px-to-rem(12);
      resize: none;
    }
  }

  &__btn {
    background-color: $orange;
    border-radius: px-to-rem(5);
    border: px-to-rem(2) solid #fff;
    box-shadow: 0 0 0px px-to-rem(4) #e67817;
    color: $white;
    cursor: pointer;
    font-family: $primary-font;
    font-size: px-to-rem(15);
    margin-top: px-to-rem(30);
    padding: px-to-rem(10) px-to-rem(20);
    text-transform: uppercase;
    transition: all 0.5s;

    &:hover {
      background-color: $white;
      color: $orange;
    }
  }
}
